table {
	font-size: 10pt;
}
a:link {
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
}
a:hover {
	font-size: 10pt;
	color: #FF6600;
	text-decoration: underline;
}
a:visited {
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
}
